*
{
    margin: 0;
    padding: 0;
}
body{
    background-image:url("C:/Users/DELL/Documents/Thesis/image/food.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: 1550px 800px; 
}
header{
    background-color:#ffffcc;
}
.logo img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:100px;
    width: 300px;
}
.tab {
    overflow: hidden;
    background-color: #cccc99;
    font-family: Arial, Helvetica, sans-serif ;
  }
  


.tab button{
    font-weight: bold;
    color: #cc9933;
    text-decoration: none;
    text-align: center;
    transition: all 0.5s ease-in;
    font-size: 15px;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    float: left;
    border:none;
    background-color: inherit;
}
.dropped{
  overflow: hidden;
  float: left;
}
.tablink:hover
{
    color:#ffffcc;
}

.dropdown-content {
    /* display: none; */
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity .4s linear;
    position: absolute;
    overflow: auto;
    background-color:#ffffcc;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
    z-index: 1;
  }
  
.dropdown-content a:hover {background-color: #cccc99}  

  
.drop:hover{
    color:#ffffcc;
  }

  .dropdown-content a {
    color: #cc9933;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 15px;
  }

.dropped:hover .dropdown-content {
    /* display: block; */
    visibility: visible;
    opacity: 1;
    margin-top: 45px;
  }

.arrowdown {
    border: solid #cc9933;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

.rPic img{
  height: 100px;
}

.rest1{
  display: inline;
  ;
}